<div style="padding: 50px;" fxLayout fxLayoutGap="50px" fxHide.lt-md>
  <div>
    <app-product-list></app-product-list>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img src="\assets\Images\Products\tulsi-ds.jpg" />
        </section>
        <section>
          <H1>Tulsi-DS cough Syrup</H1>
          <b>
            Improves Sperm count parameters by Quality and Quantity
            <br /> </b
          ><br /><br />
          <h3><b> Indications</b></h3>
          <ul>
            <li>Congestive cough</li>
            <li>Allergic cough</li>
            <li>Smoker’s cough</li>
            <li>Sore throat</li>
          </ul>
          <h3><b>Benefits: </b></h3>
          <ul>
            <li>Non sedative</li>
            <li>Non-narcotic</li>
            <li>Non-constipating</li>
            <li>Palatable</li>
            <li>Safe</li>
            <li>Comprehensive</li>
          </ul>

          <h3><b>Dosage: </b></h3>
          <ul>
            <li><b>Adults:</b> 2 tsp TDS</li>
            <li><b>Children:</b> 1 tsp TDS</li>
            Preferably in lukewarm water
            <br />
          </ul>
          Or Directed by physician
        </section>
        <section
          style="padding: 30px;"
          fxLayoutAlign="center"
          fxLayoutGap="30px"
        >
          <button mat-raised-button color="primary" (click)="onclick()">
            Add To Cart
          </button>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxHide.gt-md>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="mob" fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img
            style="width: 200px; height: 200px;"
            src="\assets\Images\Products\tulsi-ds.jpg"
          />
        </section>
        <br /><br />
        <section>
          <H1>Tulsi-DS cough Syrup</H1>
          <b>
            An optimally balanced combination of herbo mineral constituents.
            <br /> </b
          ><br /><br />
          <h3><b> Indications</b></h3>
          <ul>
            <li>Congestive cough</li>
            <li>Allergic cough</li>
            <li>Smoker’s cough</li>
            <li>Sore throat</li>
          </ul>
          <h3><b>Benefits: </b></h3>
          <ul>
            <li>Non sedative</li>
            <li>Non-narcotic</li>
            <li>Non-constipating</li>
            <li>Palatable</li>
            <li>Safe</li>
            <li>Comprehensive</li>
          </ul>

          <h3><b>Dosage: </b></h3>
          <ul>
            <li><b>Adults:</b> 2 tsp TDS</li>
            <li><b>Children:</b> 1 tsp TDS</li>
            Preferably in lukewarm water
            <br />
          </ul>
          Or Directed by physician
        </section>
        <section
          style="padding: 30px;"
          fxLayoutAlign="center"
          fxLayoutGap="30px"
        >
          <button mat-raised-button color="primary" (click)="onclick()">
            Add To Cart
          </button>
        </section>
        <section
          style="padding: 30px;"
          fxLayoutAlign="center"
          fxLayoutGap="30px"
        >
          <app-product-list></app-product-list>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
