<div style="padding: 50px;" fxLayout fxLayoutGap="50px" fxHide.lt-md>
  <div>
    <app-product-list></app-product-list>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img src="\assets\Images\Products\navedan.jpg" />
        </section>
        <section>
          <H1>Sperm Care Capsule</H1>
          <b>
            Improves Sperm count parameters by Quality and Quantity
            <br /> </b
          ><br /><br />
          <h3><b> Indications</b></h3>
          <ul>
            <li>Oligospermia</li>
            <li>Decreased libido</li>
            <li>Erectile Dysfunction</li>
            <li>Poor semen quality</li>
            <li>Sun optimal sperm motility</li>
          </ul>
          <h3><b>Features:</b></h3>
          <ul>
            <li>
              Free from the toxicity of hormonal and synthetic molecules being
              used in such <br />
              condition like liver toxicity, edema etc.
            </li>
            <li>Increase vigor and vitality in middle age men</li>
          </ul>

          <h3><b>Dosage: </b></h3>
          <ul>
            <li>1-2 capsule 3 time a day with milk</li>
          </ul>
          Or Directed by physician
        </section>
        <section
          style="padding: 30px;"
          fxLayoutAlign="center"
          fxLayoutGap="30px"
        >
          <button mat-raised-button color="primary" (click)="onclick()">
            Add To Cart
          </button>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxHide.gt-md>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="mob" fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img
            style="width: 200px; height: 200px;"
            src="\assets\Images\Products\navedan.jpg"
          />
        </section>
        <br /><br />
        <section>
          <H1>Sperm Care Capsule</H1>
          <b>
            Improves Sperm count parameters by Quality and Quantity
            <br /> </b
          ><br /><br />
          <h3><b> Indications</b></h3>
          <ul>
            <li>Oligospermia</li>
            <li>Decreased libido</li>
            <li>Erectile Dysfunction</li>
            <li>Poor semen quality</li>
            <li>Sun optimal sperm motility</li>
          </ul>
          <h3><b>Features:</b></h3>
          <ul>
            <li>
              Free from the toxicity of hormonal and synthetic molecules being
              used in such <br />
              condition like liver toxicity, edema etc.
            </li>
            <li>Increase vigor and vitality in middle age men</li>
          </ul>

          <h3><b>Dosage: </b></h3>
          <ul>
            <li>1-2 capsule 3 time a day with milk</li>
          </ul>
          Or Directed by physician
        </section>
        <section
          style="padding: 30px;"
          fxLayoutAlign="center"
          fxLayoutGap="30px"
        >
          <button mat-raised-button color="primary" (click)="onclick()">
            Add To Cart
          </button>
        </section>
        <section
          style="padding: 30px;"
          fxLayoutAlign="center"
          fxLayoutGap="30px"
        >
          <app-product-list></app-product-list>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
