<div style="padding-top: 100px;" fxHide.lt-md>
  <div>
    <mat-card>
      <mat-card-content>
        <H1>Products</H1>
        <ul>
          <li>Fevertic syrup</li>
          <br />
          <li>Hepa-Liv-Ds Syrup</li>
          <br />
          <li>M-Ron Syrup</li>
          <br />
          <li>NaveDan Lep</li>
          <br />
          <li>Prostocare Capsule</li>
          <br />
          <li>Sperm Care Capsule</li>
          <br />
          <li>Tulsi Amrit</li>
          <br />
          <li>Tulsi-DS cough Syrup:</li>
          <br />
          <li>Uric-DS capsule</li>
          <br />
          <li>Zymocid Syrup</li>
          <br />
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxHide.gt-md>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Other Products
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <ul>
          <li>Fevertic syrup</li>
          <br />
          <li>Hepa-Liv-Ds Syrup</li>
          <br />
          <li>M-Ron Syrup</li>
          <br />
          <li>NaveDan Lep</li>
          <br />
          <li>Prostocare Capsule</li>
          <br />
          <li>Sperm Care Capsule</li>
          <br />
          <li>Tulsi Amrit</li>
          <br />
          <li>Tulsi-DS cough Syrup:</li>
          <br />
          <li>Uric-DS capsule</li>
          <br />
          <li>Zymocid Syrup</li>
        </ul>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>
