<div style="padding: 50px;" fxLayout fxLayoutGap="50px" fxHide.lt-md>
  <div>
    <app-product-list></app-product-list>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img src="\assets\Images\Products\Tulsi-Amrit.jpg" />
        </section>
        <section>
          <H1> Fevertic Syrup</H1>
          <b>
            Improves body defense system, enhances immunity. <br />
            Improves Metabolism recovery. <br />
            Also improves appetite and preserve the strength of the body in
            fever.<br /> </b
          ><br /><br />
          <h3><b> Benefits:</b></h3>
          <ul>
            <li>Fights off Viral and bacterial infections</li>
            <li>Normalize the body temperature</li>
            <li>Controls the symptoms of the flu, cold, nasal congestions</li>
            <li>Increased immunity building efficiency</li>
            <li>
              Fights off fever of various origins or an effective remedy to
              fight PUO
            </li>
          </ul>
          <h3><b> Indications:</b></h3>
          <ul>
            <li>Body ache</li>
            <li>Rhinitis</li>
            <li>Fever</li>
            <li>Running nose associated conditions or directed by physician</li>
          </ul>
          <section
            style="padding: 30px;"
            fxLayoutAlign="center"
            fxLayoutGap="30px"
          >
            <button mat-raised-button color="primary" (click)="onclick()">
              Add To Cart
            </button>
          </section>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxHide.gt-md>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="mob" fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img
            style="width: 200px; height: 200px;"
            src="\assets\Images\Products\Tulsi-Amrit.jpg"
          />
        </section>
        <br /><br />
        <section>
          <H1> Fevertic Syrup</H1>
          <b>
            Improves body defense system, enhances immunity. <br />
            Improves Metabolism recovery. <br />
            Also improves appetite and preserve the strength of the body in
            fever.<br /> </b
          ><br /><br />
          <h3><b> Benefits:</b></h3>
          <ul>
            <li>Fights off Viral and bacterial infections</li>
            <li>Normalize the body temperature</li>
            <li>Controls the symptoms of the flu, cold, nasal congestions</li>
            <li>Increased immunity building efficiency</li>
            <li>
              Fights off fever of various origins or an effective remedy to
              fight PUO
            </li>
          </ul>
          <h3><b> Indications:</b></h3>
          <ul>
            <li>Body ache</li>
            <li>Rhinitis</li>
            <li>Fever</li>
            <li>Running nose associated conditions or directed by physician</li>
          </ul>

          <section
            style="padding: 30px;"
            fxLayoutAlign="center"
            fxLayoutGap="30px"
          >
            <button mat-raised-button color="primary" (click)="onclick()">
              Add To Cart
            </button>
          </section>
          <section
            style="padding: 30px;"
            fxLayoutAlign="center"
            fxLayoutGap="30px"
          >
            <app-product-list></app-product-list>
          </section>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
