<div style="padding: 50px;" fxLayout fxLayoutGap="50px" fxHide.lt-md>
  <div>
    <app-product-list></app-product-list>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img src="\assets\Images\Products\Tulsi-Amrit.jpg" />
        </section>
        <section>
          <H1> TULSI AMRIT</H1>
          <b>
            Hot sip Kadha.<br />
            Immunity Booster</b
          ><br /><br />
          <h3><b> Benefits:</b></h3>
          <ul>
            <li>Useful in Enhance Immunity Ability</li>
            <li>Relieve from cough, cold, Sore throat etc.</li>
            <li>Prevent deformed phlegm in the body</li>
            <li>Help to keep nose, gorge and health institution healthy</li>
          </ul>
          <h3><b> Preparation:</b></h3>
          <ul>
            <li>Take 200ml water (1 Glass Full) add 10g or (2tsp) Kadha.</li>
            <li>Boil it for 10mins to make 1 cup of fresh extract.</li>
            <li>Filter and Consume.</li>
            <li>
              Small quantity of jiggery or munnaka can be added to impure the
              taste.
            </li>
          </ul>
          <h3><b>Dosage: </b></h3>
          <li>2 times daily Or Directed by physician.</li>
          <section
            style="padding: 30px;"
            fxLayoutAlign="center"
            fxLayoutGap="30px"
          >
            <button mat-raised-button color="primary" (click)='onclick()'>Add To Cart</button>
          </section>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxHide.gt-md>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="mob" fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img
            style="width: 200px; height: 200px;"
            src="\assets\Images\Products\Tulsi-Amrit.jpg"
          />
        </section>
        <br /><br />
        <section>
          <H1> TULSI AMRIT</H1>
          <b>
            Hot sip Kadha.<br />
            Immunity Booster</b
          ><br /><br />
          <h3><b> Benefits:</b></h3>
          <ul>
            <li>Useful in Enhance Immunity Ability</li>
            <li>Relieve from cough, cold, Sore throat etc.</li>
            <li>Prevent deformed phlegm in the body</li>
            <li>Help to keep nose, gorge and health institution healthy</li>
          </ul>
          <h3><b> Preparation:</b></h3>
          <ul>
            <li>Take 200ml water (1 Glass Full) add 10g or (2tsp) Kadha.</li>
            <li>Boil it for 10mins to make 1 cup of fresh extract.</li>
            <li>Filter and Consume.</li>
            <li>
              Small quantity of jiggery or munnaka can be added to impure the
              taste.
            </li>
          </ul>
          <h3><b>Dosage: </b></h3>
          <li>2 times daily Or Directed by physician.</li>

          <section
            style="padding: 30px;"
            fxLayoutAlign="center"
            fxLayoutGap="30px"
          >
            <button mat-raised-button color="primary" (click)='onclick()'>Add To Cart</button>

          </section>
          <section
            style="padding: 30px;"
            fxLayoutAlign="center"
            fxLayoutGap="30px"
          >
            <app-product-list></app-product-list>
          </section>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
