<div fxHide.lt-md>
  <div class="container">
    <img
      style="width: 90%; height: 600px;"
      src="\assets\Images\Home\Background\main.jpg"
    />
    <div class="center">MEDIHERBALS</div>
  </div>
  <br /><br /><br />
  <div style="padding: 30px;" fxLayout="column" fxLayoutAlign="center center">
    <section>
      <h1><br />Welcome To MediHerbals !!!!</h1>
    </section>
    <section style="text-align: center;">
      ______________________________________________________________________________________________________________________________________________________________________<br />
      ______________________________________________________________________________________________________________________________________________________________________<br />
      ______________________________________________________________________________________________________________________________________________________________________<br />
      ______________________________________________________________________________________________________________________________________________________________________<br />
      ______________________________________________________________________________________________________________________________________________________________________<br />
      ______________________________________________________________________________________________________________________________________________________________________<br />
      ______________________________________________________________________________________________________________________________________________________________________<br />
      ___________________________________________________________________________________
    </section>
    <section style="padding-top: 30px;">
      <button style="background-color: rgb(208, 241, 158);">know more</button
      ><br /><br />
    </section>
  </div>
  <br /><br />
  <div fxLayoutAlign="center center">
    <div>
      <p style="font-size: 30px; text-align: center;">
        We Provide
      </p>
      <div>
        <br /><br />
        <div fxLayout fxLayoutGap="40px">
          <section>
            <mat-card>
              <img class="icon" src="\assets\Images\Home\Icons\chemical.jpg" />
              <br /><br /><mat-card-title>
                Chemical Less
              </mat-card-title>
              <mat-card-subtitle>
                Herbal Medicines
              </mat-card-subtitle>
              <mat-card-content>
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
              </mat-card-content>
            </mat-card>
          </section>
          <section>
            <mat-card>
              <img class="icon" src="\assets\Images\Home\Icons\herbal.jpg" />
              <br /><br /><mat-card-title>
                Herbal Products
              </mat-card-title>
              <mat-card-subtitle>
                Pure Herbal
              </mat-card-subtitle>
              <mat-card-content>
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
              </mat-card-content>
            </mat-card>
          </section>
          <section>
            <mat-card>
              <img class="icon" src="\assets\Images\Home\Icons\medicine.jpg" />
              <br /><br /><mat-card-title>
                Herbal Medicine
              </mat-card-title>
              <mat-card-subtitle>
                Pure Ayurveda
              </mat-card-subtitle>
              <mat-card-content>
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
                ______________________________________________<br />
              </mat-card-content>
            </mat-card>
          </section>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <section>
        <img
          style="width: 100px; height: 100px;"
          src="\assets\Images\Home\Icons\ayurved.jpg"
        />
      </section>

      <section>
        <p style="font-size: 30px; font-family: cursive;">Why MediHerbals is</p>
        <br />
      </section>

      <section>
        <p style="font-size: 30px; font-family: cursive;">Best For You ?</p>
      </section>
    </div>
    <div class="container">
      <img
        style="width: 90%; height: 450px;"
        src="\assets\Images\Home\Background\why.jpg"
      />
    </div>
  </div>
  <br /><br />
  <div fxLayout fxLayoutAlign="center" fxLayoutGap="70px">
    <div>
      <img
        style="width: 500px; height: 600px; border-radius: 20px;"
        src="\assets\Images\Home\Background\service.jpg"
      />
    </div>
    <div>
      <div>
        <section>
          <img
            style="width: 100px; height: 100px;"
            src="\assets\Images\Home\Icons\ayurved.jpg"
          />
        </section>
        <section style="font-size: 40px;">
          Our Best Services<br /><br />
        </section>
        <section>
          <p style="font-size: 30px;">Why we are the best</p>
          <br /><br />
          ______________________________________________________________________________________<br />
          ______________________________________________________________________________________<br />
          ______________________________________________________________________________________<br />
          ______________________________________________________________________________________<br />
          ______________________________________________________________________________________<br />
        </section>
        <br />
      </div>
      <div>
        <div fxLayout fxLayoutAlign="center" fxLayoutGap="150px">
          <section>
            <img
              style="width: 100px; height: 100px; border-radius: 50%;"
              src="\assets\Images\Home\Icons\support.jpg"
            />
            <p>24/7 Support</p>
          </section>
          <br />
          <section>
            <img
              style="width: 100px; height: 100px; border-radius: 50%;"
              src="\assets\Images\Home\Icons\delivery.jpg"
            />
            <p>Fast Delivery</p>
          </section>
        </div>
        <div fxLayout fxLayoutAlign="center" fxLayoutGap="150px">
          <section>
            <img
              style="width: 100px; height: 100px; border-radius: 50%;"
              src="\assets\Images\Home\Icons\organic.jpg"
            />
            <p>Safe Products</p>
            <br />
          </section>

          <section>
            <img
              style="width: 100px; height: 100px; border-radius: 50%;"
              src="\assets\Images\Home\Icons\safety.png"
            />
            <p>Quality Tested</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
