<div style="padding: 50px;" fxLayout fxLayoutGap="50px" fxHide.lt-md>
  <div>
    <app-product-list></app-product-list>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img src="\assets\Images\Products\navedan.jpg" />
        </section>
        <section>
          <H1>NaveDan Lep</H1>
          <b>
            A Desired Strength formula enriched with scientifically validated
            Natural Botanical Extracts,<br />
            which Contributes to improve distributed Liver Functions <br /> </b
          ><br /><br />
          <h3><b> Benefits:</b></h3>
          <ul>
            <li>Improve Appetite, digestion and Metabolism</li>
            <li>
              <b>Stevia</b>-it is used as non-nutritive sweetener and herbal
              supplement
            </li>
            <li>Acts a lipid Regulator</li>
            <li>Anti-Oxidant & detoxifier</li>
          </ul>
          <h3><b> Indications:</b></h3>
          <ul>
            <li>Arthritis</li>
            <li>Joint Pain</li>
            <li>Sprains of Muscle</li>
            <li>Swelling etc.</li>
          </ul>
          <h3><b>How to use: </b></h3>
          <ul>
            <li>
              Prepare a thick Paste in warm water (Quantity as required) and
              apply on affected area<br />
              in such a way that skin covers by NaveDan Lep .
            </li>
            <li>
              Now apply a small cotton bandage on the affected area and take
              rest for 5 to 10 Minutes.
            </li>
          </ul>
          <h3><b>Precaution: </b></h3>
          <ul>
            <li>Keep Lep for 1 to 2 days on affected area.</li>
            <li>Do not allow that area to contact with water and fire</li>
            <li>After removing lep clean skin with warm water.</li>
          </ul>
          Or Directed by physician <br />
        </section>
        <section
          style="padding: 30px;"
          fxLayoutAlign="center"
          fxLayoutGap="30px"
        >
          <button mat-raised-button color="primary" (click)="onclick()">
            Add To Cart
          </button>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxHide.gt-md>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="mob" fxLayoutAlign="center">
      <mat-card-content>
        <section fxLayoutAlign="center">
          <img
            style="width: 200px; height: 200px;"
            src="\assets\Images\Products\navedan.jpg"
          />
        </section>
        <br /><br />
        <section>
          <H1>NaveDan Lep</H1>
          <b> This is useful in joints pain and sprains of muscle. </b
          ><br /><br />
          <h3><b> Indications:</b></h3>
          <ul>
            <li>Arthritis</li>
            <li>Joint Pain</li>
            <li>Sprains of Muscle</li>
            <li>Hepatoxicity induced by alcohol</li>
          </ul>
          <h3><b> Benefits:</b></h3>
          <ul>
            <li>Improve Appetite, digestion and Metabolism</li>
            <li>
              Stevia-it is used as non-nutritive sweetener and herbal supplement
            </li>
            <li>Acts a lipid Regulator</li>
            <li>Anti-Oxidant & detoxifier</li>
          </ul>
          <h3><b>How to use: </b></h3>
          <ul>
            <li>
              Prepare a thick Paste in warm water (Quantity as required) and
              apply on affected area<br />
              in such a way that skin covers by NaveDan Lep .
            </li>
            <li>
              Now apply a small cotton bandage on the affected area and take
              rest for 5 to 10 Minutes.
            </li>
          </ul>
          <h3><b>Precaution: </b></h3>
          <ul>
            <li>Keep Lep for 1 to 2 days on affected area.</li>
            <li>Do not allow that area to contact with water and fire</li>
            <li>After removing lep clean skin with warm water.</li>
          </ul>
          Or Directed by physician <br />
        </section>

        <section
          style="padding: 30px;"
          fxLayoutAlign="center"
          fxLayoutGap="30px"
        >
          <button mat-raised-button color="primary" (click)="onclick()">
            Add To Cart
          </button>
        </section>
        <section
          style="padding: 30px;"
          fxLayoutAlign="center"
          fxLayoutGap="30px"
        >
          <app-product-list></app-product-list>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
